@import url(nullstyle.scss);
@import url(fonts.scss);

.body {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 1080px;
}

.first__block {
  width: 100%;
  height: 100%;
  position: relative;
  background: url(../img/background_2.png);
  background-size: 1920px 1080px;
}
.first__block__main {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #14274a;
  opacity: 0.5;
}
.first__block__header {
  width: 100%;
  height: 200px;
  display: flex;
  position: relative;
}
.first__block__header__menu {
  position: absolute;
  right: 135px;
  top: 60px;
  display: flex;
  font-family: "Montserrat";

  li {
    color: #fff;
    margin-right: 97px;
    letter-spacing: -0.02em;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    &:nth-child(2) {
      //border-bottom-width: 2%;
      box-shadow: inset 0px -1px 0px #e0b973;
      padding-left: 6px;
      padding-right: 6px;
      padding-bottom: 2px;
    }
    .link {
      color: #fff;
    }
    :hover {
      color: #e0b973;
    }

    :active {
      border-bottom: 5px solid #8d8f76;
    }
  }
}

.first__block__header__logo {
  width: 256px;
  height: 149px;
  position: relative;
  top: 2px;
  left: 213px;
  background-color: #e0b973;
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 45px;
  .header__logo__text {
    position: relative;
    top: 44px;
    left: 41px;
    width: 186px;
    height: 60px;
    text-align: center;
    .luxury {
      color: #14274a;

      font-weight: 700;
      font-size: 40px;
      line-height: 42px;

      letter-spacing: 0.16em;
      text-transform: uppercase;
      font-family: "AgaramondPro-Bold";
    }
    .hotels {
      padding-left: 3px;
      font-family: "AgaramondPro-Bold";
      font-size: 16px;
      letter-spacing: 0.54em;
      text-transform: uppercase;
      color: #14274a;
    }
  }
}
.first__block__content {
  width: 100%;
  height: 100%;
  position: relative;
}
.first__block__content__text {
  display: block;
  padding-top: 128px;
  padding-left: 214px;
}
.text__block1 {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 50px;
  line-height: 92px;
  color: #fff;
  letter-spacing: -0.007em;
}
.text__block2 {
  font-family: "AgaramondPro-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 154px;
  line-height: 125px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #fff;
}

.text__block3 {
  font-family: "AgaramondPro-Bold";
  text-transform: uppercase;
  font-size: 60px;
  padding-top: 1px;
  color: #fff;
  letter-spacing: 0.4em;
}

.text__block4 {
  width: 585px;
  height: 60px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  padding-top: 3px;

  letter-spacing: 0.09em;
  color: #fff;
}
.first__block__bottom__content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 108px;

  width: 100%;
  height: 100%;
  align-items: center;
}
.book__now {
  margin-right: 22px;
  margin-top: 5px;
  width: 268px;
  height: 78px;
  background: #e0b973;
  position: relative;
  display: block;

  border-radius: 12px;
  .book__now__text {
    position: relative;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 25px;
    margin-top: -4px;
    color: #ffffff;
    &:before {
      content: " ";
      position: relative;
      top: 2px;
      width: 29px;
      height: 25.67px;
      display: inline-block;
      margin: 0px 10px 0px 0px;
      background-image: url(../img/book_now.svg);
      background-size: 29px 25.67px;
      /*Применяется со свойством content:'';*/
    }
  }
}
.scroll__text {
  margin-right: 22px;
  display: block;
  color: black;
  padding-top: 80px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #fff;
}
.scroll {
  cursor: pointer;
  margin-right: 22px;
  position: relative;
  top: 15.16px;
  width: 60px;
  height: 60px;
  background-image: url(../img/Subtraction.svg);
  border-radius: 50%;
  background-size: 60px 60px;
}

.facilities {
  width: 100%;
  height: 7495px;
}

.facilities__title {
  margin-top: 82px;
  font-family: "AGaramondPro-Bold";
  font-size: 60px;
  line-height: 72px;

  /* identical to box height */
  text-align: center;
  letter-spacing: 0.05em;

  color: #14274a;
}

.facilities__description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  margin: 34px 187px 82px 193px;

  color: #14274a;
}
.facilities__row {
  width: 100%;
}
.facilities__item {
  position: relative;
  width: 1580px;
  height: 1052px;
}
.facilities__back {
  margin-top: 186px;
}
.facilities__item1 {
  background: url(../img/back1.png);
  background-size: 1580px 1052px;
  margin: 0 auto;
  margin-top: -104px;
}

.facilities__placeholder {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 684px;
  height: 75px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  background-color: #fff;

  /* identical to box height */
  text-align: center;

  color: #14274a;
}

.facilities__item2 {
  background: url(../img/back2.png);
  background-size: 1580px 1052px;
  margin: 0 auto;
}
.facilities__item3 {
  background: url(../img/back3.png);
  background-size: 1580px 1052px;
  margin: 0 auto;
}

.facilities__item4 {
  background: url(../img/back4.png);
  background-size: 1580px 1052px;
  margin: 0 auto;
}

.facilities__item5 {
  background: url(../img/back5.png);
  background-size: 1580px 1052px;
  margin: 0 auto;
}
.facilities__item6 {
  background: url(../img/back6.png);
  background-size: 1580px 1052px;
  margin: 0 auto;
}
.second__block {
  margin-top: 113px;
  height: 364px;
}
.second__block__content__testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials_title {
  font-family: "AGaramondPro-Bold";
  font-style: normal;
  font-size: 60px;
  line-height: 72px;
  color: #14274a;
}
.testimonial {
  padding: 26px 0px 19px 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  color: #14274a;
}
.testimonial_placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;

  color: #14274a;
}

.testimonials_forward_back {
  display: flex;
  flex-direction: row;
  width: 140px;
  margin-top: 23px;
}
.testimonial_back {
  width: 50px;
  height: 50px;
  font-size: 20px;
  background: url(../img/arrowleft.svg) no-repeat;
  background-size: 25px 25px;
  background-color: #e0b973;
  border-radius: 5px;
  background-position: center;
  margin-right: 10px;
  cursor: pointer;
}
.testimonial_forward {
  width: 50px;
  height: 50px;
  background: url(../img/arrowright.svg) no-repeat;
  background-size: 25px 25px;
  background-color: #e0b973;
  border-radius: 5px;
  background-position: center;
  margin-left: 10px;
  cursor: pointer;
}
footer {
  height: 320px;
  width: 100%;
  background-color: #14274a;
}
.footer__row {
  justify-content: space-between;
  position: relative;
  display: flex;
  width: 1549px;

  top: 144px;
  bottom: 66px;
  left: 185px;
}

.footer__name {
  height: 111px;
  width: 264px;
  color: #fff;
}
.footer__luxury__title {
  width: 118px;
  height: 38px;
  text-align: center;
}
.footer__title__luxury {
  font-family: "AGaramondPro-Bold";
  font-size: 25px;
  letter-spacing: 0.15em;
  margin-bottom: 5px;
}
.footer__title__hotels {
  font-family: "AGaramondPro-Bold";
  font-size: 9px;
  letter-spacing: 0.6em;
}
.footer__luxury__address {
  margin-top: 22px;
  width: 264px;
  height: 51px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.footer__navigation {
  display: flex;
}
.footer__navigation__menu {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  p {
    margin-bottom: 20px;
  }
}
.footer__navigation__web {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  p {
    margin-bottom: 20px;
  }
  .facebook {
    position: relative;
    &:before {
      content: "";
      position: relative;
      display: inline-block;
      top: 3px;
      width: 20px;
      height: 20px;
      margin-right: 20px;
      background-image: url(../img/facebook.svg);
      background-size: 20px 20px;
    }
  }
  .twitter {
    position: relative;
    &:before {
      content: "";
      position: relative;
      display: inline-block;
      top: 4px;
      width: 20px;
      height: 20px;
      margin-right: 20px;
      background-image: url(../img/twitter.svg);
      background-size: 20px 20px;
    }
  }
  .instagram {
    position: relative;
    &:before {
      content: "";
      position: relative;
      display: inline-block;
      top: 5px;
      width: 20px;
      height: 20px;
      margin-right: 20px;
      background-image: url(../img/instagramm.svg);
      background-size: 20px 20px;
    }
  }
}
.subscribe_description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 29px;
  /* identical to box height */

  color: #ffffff;
}
.subscribe__email {
  width: 280px;
  height: 52px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background-color: #14274a;
  line-height: 20px;
  border: 2px solid #e0b973;
  border-radius: 5px;
  color: #fff;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  margin-left: 4px;
}

.subscribe__ok {
  width: 80px;
  height: 52px;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  background: #e0b973;
  position: relative;
  right: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  &:active {
    opacity: 0.7;
  }
}

.input_div {
  position: relative;
}
